# Creado por https://www.toptal.com/developers/gitignore/api/gradle,java
# Editar en https://www.toptal.com/developers/gitignore?templates=gradle,java

### Java ###
# Archivo de clase compilado
*.clase

# Archivo de registro
*.registro

# Archivos BlueJ
*.ctxt

# Herramientas móviles para Java (J2ME)
.mtj.tmp/

# Archivos del paquete #
*.frasco
*.guerra
*.nar
*.oreja
*.cremallera
*.tar.gz
*.rar

# registros de fallas de la máquina virtual, consulte http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
repetición_pid*

### Gradle ###
Gradle
**/construir/
!src/**/construir/

# Ignorar la configuración de la GUI de Gradle
gradle-app.setting

# Evite ignorar el archivo jar contenedor de Gradle (los archivos .jar generalmente se ignoran)
!gradle-wrapper.jar

# Evite ignorar las propiedades del contenedor de Gradle
!gradle-wrapper.propiedades

# Caché del proyecto
.gradletasknamecache

# Archivos generados por el complemento Eclipse Gradle
# Núcleo de Eclipse
.proyecto
# Específico de JDT (herramientas de desarrollo Java de Eclipse)
.classpath

### Parche Gradle ###
# volcado de pila de Java
*.hprof

# Fin de https://www.toptal.com/developers/gitignore/api/gradle,java

.idea